/*
*  styles for professor-related elements
 */
/* styles for list of professors */
.professor-container{
    margin: 10px auto;
    width: 100%;
    border: 0px solid var(--clr-primary-8);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.professor-list {
    display: flex;
    flex-direction: column;
    min-width: 40%;
}

.professor-list a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid var(--clr-grey-9);
    border-bottom: 1px solid var(--clr-grey-9);
    border-right: 1px dotted var(--clr-grey-9);
    border-left: 1px dotted var(--clr-grey-9);
    margin-bottom: -1px;
    margin-right: 40px;
    max-height: max-content;
    padding: 1em;
    color: var(--clr-grey-1);
}

.professor-list a div {
    display: inline-block;
    height: 80%;
}
.professor-list a.active,
.professor-list a:hover {
    background-color: var(--clr-black);
    color: var(--clr-grey-10);
    font-weight: bold;
}

.professor-list a span {
    display: inline-block;
    width: 10px;
    height: 100%;
    margin-right: 5px;
}

/*.professor-list a.active span {
    background-color: #2f2727;
}*/

/* styles for professor details*/

.professor-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.professor-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 230px;
}

.professor-info {
    width: 60%;
    min-width: 260px;
}

.professor-info div {
    padding: 3px;
}

.professor-name {
    max-width: 250px;
    height: auto;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 6px;
    border-bottom: 1px dotted var(--clr-grey-8);
}

.professor-photo {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: flex-start;
    height: 250px;
}
.professor-photo img {
    width: 150px;
}

.professor-classes {
    margin-top: 40px;
}

/* styles for pagination and sorting */
.course-pagination-container {
    display: flex;
    justify-content: right;
    margin-bottom: 50px;
}

.course-pagination select {
    font-size: small;
}

.course-pagination {
    text-align: right;
    font-size: 0.9em;
    margin-right: 20px;
}

.course-pagination  a {
    font-size: smaller;
    border-radius: 3px;
    border: 1px solid #e4f1fe;
    min-width: 20px;
    padding: 1px 6px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.course-pagination a:hover {
    background-color: #f8f9fa;
}

.course-sorting {
    text-align: right;
    font-size: 0.9em;
}

.course-pagination select,
.course-sorting select {
    font-size: smaller;
}